{% extends 'parts/base.html' %} 
{% block content %}

<style>
    main {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
    #logo-img{
        height: 11em;
        width: 26em;
    }
</style>


<main role="main" id="background">
    <div id="inner-wrapper">
        <img id="heart_logo" src="../img/mg6.jpg" alt="">
        <div class="card" style="max-width:800px;margin:0 auto;">
          <div class="card-body" style=" text-align: right;">
            <h1>التعريف بالموقع</h1>
  <hr />
  <h3>هذا الموقع هدفه هو  الربط بين من يحتاج الدم و من يمكنهم التبرع بالدم ، ما يوفّر عناء البحث</h3>
  
  <p>
    قد يتسائل الكثير من الأكارم عن سبب تصميم هذا الموقع رغم وجود مواقع اخرى للتبرع بالدم. فالقيمة المضافة لموقعنا هي الإدارة الولائية  حيث ستتكفل جمعية أو مجموعة من الشباب  من كل ولاية بإدارة المسجلين  ، تحديث قاعدة البيانات و التنسيق بين مصالح التبرع بالدم في مستشفيات و وحدات الحماية المدنية في تنظيم حملات التبرع  في الولاية و حث سكانها على التسجيل في الموقع ، إذ هدفنا هو تسهيل عملية البحث عن المتبرعين بشكل نهائي و مستدام .
  </p>
  <p>
    و سيبدأ الموقع بولاية عين تموشنت تحت إشراف جمعية ذاك هو السبيل التي كان لها الفضل في تبلور فكرة إنشاء هذا الموقع. هذه الجمعية الفتية التي بدأت نشاطها الجمعوي في نهاية عام  2012 وتأسست رسميا عام 2018 بمكتب تنفيدي  والتي حملت على عاتقها التكفل المادي والمعنوي بالأيتام وأسرهم أولا والمعوزين والمحتاجين ثانيا ، كما تسعى لتطوير العمل الجمعوي الخيري و نالت شرف أحسن جمعية فاعلة لموسمي 2017 و 2018 كما نالت دعوة من وزارة التضامن كجمعية ولائية مؤثرة لعام 2018
  </p>
  <a href="{% url 'detail' %}">اقرأ عن شروط وفوائد التبرع بالدم</a>
  <br>
  <a href="{% url 'register' %}">سجل الان لتصبح متبرع بالدم</a>
  <br>
  
          </div>
        </div>
{% endblock content %}