{% extends 'parts/base.html' %} 
{% block content %}
<div  class="content-wrapper">
  <div class="content">
    <div class="container-fluid">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h1 class="card-title">التعريف بالموقع</h1>                    
          </div>
        </div>
        <div class="card-body">
          <h4>هذا الموقع هدفه هو  الربط بين من يحتاج الدم و من يمكنهم التبرع بالدم ، ما يوفّر عناء البحث</h4> 
            <p>
              قد يتسائل الكثير من الأكارم عن سبب تصميم هذا الموقع رغم وجود مواقع اخرى للتبرع بالدم. فالقيمة المضافة لموقعنا هي الإدارة الولائية  حيث ستتكفل جمعية أو مجموعة من الشباب  من كل ولاية بإدارة المسجلين  ، تحديث قاعدة البيانات و التنسيق بين مصالح التبرع بالدم في مستشفيات و وحدات الحماية المدنية في تنظيم حملات التبرع  في الولاية و حث سكانها على التسجيل في الموقع ، إذ هدفنا هو تسهيل عملية البحث عن المتبرعين بشكل نهائي و مستدام .
            </p>
            <a href="{% url 'detail' %}">اقرأ عن شروط وفوائد التبرع بالدم</a>
            <br>
            <a href="{% url 'donneur' %}">سجل الان لتصبح متبرع بالدم</a>
            <br>
  
        </div>
  </div>
</div>
</div>
</div>
{% endblock content %}