{% extends 'parts/base.html' %}
{% block content %}
<div  class="content-wrapper">
  <div class="content">
    <div class="container-fluid">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h1 class="card-title"> للإستفسار أو الحصول على المزيد من المعلومات </h1>                    
          </div>
        </div>
        <div class="card-body">
      <h3> راسلنا على : </h3>
      <p><a href="https://wa.me/+22227485493">
        +222 27 48 54 93</a> :<i class="fas fa-lg ml-1 fa-phone">tel</i>
      </p>
      <p>
        <a href="google.com/Hala Med">halamed2001@gmail.com</a><i class="fas fa-lg ml-1 fa-envelope-open"></i>
      </p>
    </div>
  </div>
</div>
</div>
</div>

{% endblock content %}