{% extends 'parts/base.html' %}
{% block content %}
 
<div  class="content-wrapper">
  <div class="content">
    <div class="container-fluid">
      <div class="card shadow">
        <div class="card-body">
   <h2>شروط التبرع</h2>
   <h3>ما يفترض بالمتبرع القيام به قبل عملية التبرع:</h3>
   <ul>
     <li>نيل قسط كافي من النوم على الاقل 5 ساعات</li>
     <li>تناول وجبه غذائيه قبل التبرع</li>
     <li>إحضار البطاقة الشخصية</li>
   </ul>
   <h3>الأشخاص اللائقون للتبرع:</h3>
   <ul>
     <li>اي شخص لايقل عمره عن 18 سنه</li>
     <li>ان لايقل وزن المتبرع عن 50 كيلو غرام</li>
     <li>ان تكون نسبة خضاب الدم لائقه للتبرع</li>
     <li>خلو الشخص المتبرع من بعض الامراض التي يمتنع معها التبرع</li>
   </ul>
   <h3>موانع التبرع:</h3>
   <ul>
     <li>ان لايكون الشخص قد قام باي عملية تبرع في الاشهر الثلاث الاخيره</li>
     <li>ان لايكون الشخص المتبرع قد اجرى اي عملية جراحية مؤخراً</li>
     <li>
       اصابة المتبرع باحد الامراض التالية:
       <ul>
         <li>
           ضغط الدم ، السكري ، اصابته بالملاريا على الاقل خلال السنتين الاخيرتين ، الفشل الكلوي ، تضخم الكبد ، امراض الصدر ، حمى الروماتيزوم ، امراض الغدد الدرقية ، امراض الدم الوراثية ونزيف الدم
         </li>
       </ul>
     </li>
     <li>
       مايخص المرأة من موانع:
       <ul >
       <ul>
         <li>لا يجوز للمرأة الحامل التبرع ، في حالة الولادة على الاقل بعد ثلاث (03) أشهر من تاريخ الولادة ، ان لاتكون في فترة الدورة الشهرية .</li>
       </ul>
     </li>
   </ul>
   <h3>المدة التي تستغرقها عملية التبرع:</h3>
   <ul>
     <li>إجمالاً 20 دقيقة .</li>
     <li>المدة التي يجب ان تفصل بين كل تبرع واخر لنفس الشخص 3 اشهر لانها الفترة المثالية لاعادة انتاج خلايا الدم.</li>
   </ul>
   <h3>بعض التوصيات لما بعد عملية التبرع:</h3>
   <ul>
     <li>الإسترجاع لمدة عشر دقائق.</li>
     <li>عدم بذل مجهود بدني زائد خلال ساعتين من التبرع.</li>
     <li>تناول السوائل لاعادة تعويض الجسم .</li>
   </ul>
   <hr>
   <h2>فوائد التبرع</h2>
   <h3>لفوائد الإنسانية</h3>
   <ul>
     <li>
       بتبرعك بالدم، أنت تشارك فى إنقاذ حياة عدة أشخاص فى احتياج ملح للدم أو لأحد مشتقاته لأن الدم يمكن فصله لأربعة مكونات رئيسية هى كرات الدم الحمراء والصفائح الدموية والبلازما وبعض عوامل التجلط. بل أن هذه المكونات يمكن فصلها مرة أخرى إلى مكونات أصغر. إن إحساسك بهذا العطاء سوف يشعرك بالرضا والفخر.

     </li>
   </ul>
   <h3>الفوائد الصحية</h3>
   <ul>
     <li>  توجد فوائد صحية للتبرع بالدم حيث أن التبرع بالدم ينشط خلايا نخاع العظام للمتبرع (مكان تصنيع الدم) مما يزيد من فاعليتها ويجدد نشاطها فتنتج المزيد من خلايا الدم الجديدة .</li>
     <li>  ثبت أنه في كل مرة تتبرع بالدم فإنك تتخلص من بعض الحديد الذى يحتوية والذى إذا ما ارتفع مستواه بالدم يزيد من مخاطر الاصابة بامراض القلب ، كما ان الحديد يعجل باكسدة الكوليستيرول ويزيد من تلف الشراين الصغيرة. (د.جيروم سوليفان الأستاذ بجامعة فلوريدا الأمريكي)</li>
     <li>  إن الذين يتبرعون بدمهم مرة واحدة على أقل كل سنة هم أقل تعرضا للإصابة بأمراض الدورة الدموية و سرطان الدم (مجلة القلب عدد أغسطس1997)
       التبرع بالدم ينشط النخاع العظمي (وهو المسؤول الوحيد فى الجسم عن تكوين خلايا الدم), فبينما يتجدد دم الإنسان طبيعيا كل 120 يوم , يتجدد دم المتبرع المنتظم كل 20 يوما فقط أى أسرع بستة أضعاف، كما أن خلايا الدم الجديدة أنشط فى نقل الأوكسجين إلى أعضاء الجسم, مما يؤدى إلى زيادة النشاط والحيوية. فكأن الله يبدل المتبرع بكيس دم أفضل مما تبرع به.
       </li>
       <li>  التحاليل التي تجرى في كل مرة للتبرع تُطمئن المتبرع على صحته بصورة دورية</li>
   </ul>

   <h3>جبال حسنات</h3>
   <ul>
     <li>التبرع بالدم هو زكاة عن الصحة وهو فرض كفاية.</li>
     <li>فضل إنقاذ حياة إنسان( . . ومن أحياها فكأنما أحيا الناس جميعا . .) من سورة المائدة آية 32.</li>
     <li>فضل تفريج الكربات فقد قال صلى الله عليه و سلم " من فرج عن مسلم كربة من كرب الدنيا فرج الله عنه كربة من كرب يوم القيامة" (رواه الشيخان من حديث ابن عمر، كما في اللؤلؤ والمرجان، برقم 1667).</li>
     <li>لماذا يجب عليَّ أن أكون متبرعًا بالدم؟</li>
     <li>كل ثلاث ثوان هناك شخص يحتاج إلى نقل الدم.</li>
     <li>واحد من كل عشرة مرضى يدخلون المستشفى في حاجة إلى نقل الدم.</li>
     <li>دمك يمكن أن ينقذ أربعة أشخاص عند فصل مكوناته وليس شخصًا واحدًا.</li>
     <li>تعيد عملية التبرع بالدم الحيوية والنشاط للجسم بسبب تجدد خلايا الدم.</li>
     <li>يمكن للمتبرع الحصول على نتائج فحوصات المسح الخاصة به، بما فيها فصيلة الدم</li>
   </ul>
   <a href="{% url 'donneur' %}">سجل الان لتصبح متبرع بالدم</a>


 </div>
</div>
</div>
 {% endblock content %}
