{% extends 'parts/base.html' %}
{% load static %}
 {% block content %}
 <div  class="content-wrapper">
    <div class="content">
      <div class="container-fluid">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="d-flex justify-content-between">
                <h1 class="card-title"><b>إضافة متبرع</b></h1>                    
            </div>
          </div>
          <div class="card-body">
    {%if form.is_valid %}
    <div class="alert alert-success" role="alert">
      <p>{{msg}}</p></div>
     {%endif%} 
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% include 'mysite/form.html' %} 
    <button type="submit" class="btn btn-success">سجل الان😊</button>
    </form>
</div>
</div>
</div>
</div>
</div>




{% endblock  %} 