{% extends 'parts/base.html' %}
{% load static %}
 {% block content %}
 
<div class="card" style="max-width:800px;margin:0 auto;">
   <div class="card-body" style=" text-align: right;">
    {%if form.is_valid %}
    <div class="alert alert-success" role="alert">
      <p>{{msg}}</p></div>
     {%endif%} 
    <form action="" method="POST" novalidate>
        <h1 class="card-title"><b>إضافة متبرع</b></h1>
        {% csrf_token %}
        {% include 'mysite/form.html' %} 
    <button type="submit" class="btn btn-success">سجل الان😊</button>
    </form>
</div>
</div>


     

<script id="django-admin-form-add-constants"
src="/static/admin/js/change_form.js"

    data-model-name="donneur"  async>
</script>


{% endblock  %} 