{% extends 'parts/base.html' %}
{% block content %}



<div id="inner-wrapper">
<div class="card" style="max-width:800px;margin:0 auto;">
<div class="card-body" style=" text-align: right;">
  {%if form.is_valid %}
  <div class="alert alert-success" role="alert">
    <p>{{msg}}</p></div>
   {%endif%} 
<form action="" method="POst" novalidate>
    <h2>اهلا </h2>
    {% csrf_token %}
    {% include 'mysite/form.html' %}
<button class="btn btn-success">سجل الان😊</button>
</form>
</div>
</div>
{% endblock content %}