{% extends 'parts/base.html' %}
{% block content %}
<div  class="content-wrapper">
  <div class="content">
    <div class="container-fluid">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="d-flex justify-content-between">
            <h1 class="card-title">تسجيل الدخول</h1>                    
          </div>
        </div>
        <div class="card-body">
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        {% include 'mysite/form.html' %}
                     <button class="btn btn-block rounded-0 btn-primary">
                                        الدخول </button>
                   </form>
           </div>
            <div class="card-footer text-muted text-center">
            إنشاء حساب   <a href="{% url 'donneur' %}">تسجيل الدخول</a> 
            </div>
         </div>
    </div>
</div>
</div>
{% endblock content %} 