{% extends 'parts/base.html' %} 
{% load static %}
{% block content%}

<style>
    main {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
    #logo-img{
        height: 11em;
        width: 26em;
    }
</style>


<main role="main" id="background">

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10 col-sm-12 col-xs-12">
            <div class="card shadow rounded-0">
                <div class="card-header">
                    <div class="h5 card-title fw-bold">صفحتي السخصية</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <dl>
                                    <dt >الاسم</dt>
                                    <dd >{{ Donneur.nom }}</dd>
                                    <dt >الهاتف</dt>
                                    <dd >{{ Donneur.tel }}</dd>
                                    <dt >كلمةالسر</dt>
                                    <dd >{{ donneur.password}}</dd>
                                    <dt >فصيلة الدم</dt>
                                    <dd >{{ donneur.groupeSanguin }}</dd>
                                    <dt >تاريخ اخر تبرع</dt>
                                    <dd >{{ donneur.date_Dernier_Don }}</dd>
                                    <dt >الجنس</dt>
                                    <dd >{{ donneur.gender }}</dd>
                                    <dt >الولاية</dt>
                                    <dd >{{ donneur.wilaya }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex w-100 text-end justify-content-end">
                        <a href="{% url 'update_password' %}" class="btn btn btn-light border btn-sm bg-gradient rounded-0 me-2">تغيير كلمةالسر</a>
                        <a href="{% url 'update_profile' %}" class="btn btn btn-primary btn-sm bg-gradient rounded-0">تعديل الصفحة</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}