{% extends 'parts/base.html' %} 
{% load static %}
{% block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10 col-sm-12 col-xs-12">
            <div class="card shadow rounded-0">
                <div class="card-header">
                    <div class="h5 card-title fw-bold">صفحتي السخصية</div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <dl>
                                    <dt class="text-muted">الاسم</dt>
                                    <dd class="ps-4">{{ Donneur.nom }}</dd>
                                    <dt class="text-muted">الهاتف</dt>
                                    <dd class="ps-4">{{ Donneur.tel }}</dd>
                                    <dt class="text-muted">كلمةالسر</dt>
                                    <dd class="ps-4">{{ Donneur.password}}</dd>
                                    <dt class="text-muted">فصيلة الدم</dt>
                                    <dd class="ps-4">{{ Donneur.groupeSanguin }}</dd>
                                    <dt class="text-muted">تاريخ اخر تبرع</dt>
                                    <dd class="ps-4">{{ Donneur.date_Dernier_Don }}</dd>
                                    <dt class="text-muted">الجنس</dt>
                                    <dd class="ps-4">{{ Donneur.gender }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-flex w-100 text-end justify-content-end">
                        <a href="#" class="btn btn btn-light border btn-sm bg-gradient rounded-0 me-2">تغيير كلمةالسر</a>
                        <a href="#" class="btn btn btn-primary btn-sm bg-gradient rounded-0">تعديل الصفحة</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}