<footer class="main-footer">
    <strong>Copyright &copy; 2022-2023 <a href="https://www.facebook.com/abdelrahman.g.nofal">Hala Med</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <a target="_blank" href="https://www.facebook.com/fatimetou.mohamed.904"><i class="fab fa-lg ml-1 fa-facebook"></i></a>
        <a target="_blank" class="text-warning" href="https://www.instagram.com/hala_med/"><i class="fab fa-lg ml-1 fa-instagram"></i></a>
        <a target="_blank" href="https://github.com/halamed2001"><i class="fab fa-lg ml-1 fa-github"></i></a>
        <a target="_blank" href="https://google.com/halamed2001@gmail.com"><i class="fab fa-lg ml-1 fa-google"></i></a>
        <a target="_blank" href="https://www.snapchat.com/add/hala_med22?share_id=2RMKAKSdQIE&locale=ar-AA"><i class="fab fa-lg ml-1 fa-snapchat"></i></a>
        <a target="_blank" href="https://twitter.com/@HalaMed14"><i class="fab fa-lg ml-1 fa-twitter"></i></a>
    </div>
  </footer>